* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #0b1026;
  color: white;
  font-family: sans-serif;
  position: relative;
  min-width: 350px;
}
/*..............NAVIGATION SECTION START......*/
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1% 3%;
  background-color: #0b1026;
}
.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon a:hover {
  cursor: pointer;
}
.icon .content {
  display: block;
  color: white;
  font-size: 1rem;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.nav-font-size {
  color: white;
  font-size: 15px;
  letter-spacing: 1.2px;
  font-weight: 400;
}
.content #studio {
  font-weight: 700;
}

.icon img {
  margin-right: 6px;
  height: 50px;
  width: 50px;
  clip-path: circle();
  border-radius: 50%;
}

/* ......SEARCH BOX...........*/
.nav-bar .search-box {
  background-color: lightgrey;
  height: 6vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .search-box input {
  height: 100%;
  background-color: lightgrey;
  border-radius: 15px;
  border: none;
  outline: none;
}
.nav-bar .search-box .search-icon {
  margin: 4px 0px 0px 10px;
}
.nav-bar .search-box .microphone {
  margin-right: 9px;
}
/*........... BELL ICON AND PROFLE IMAGE*/
.profile-pic img {
  height: 50px;
  width: 50px;
  clip-path: circle();
  border: 1px solid white;
  border-radius: 50%;
}
.bell-icon i {
  font-size: 2rem;
}
.profile-pic img:hover {
  cursor: pointer;
}
/* .......MAIN CONTAINER SECTION........*/
.complete-container {
  margin-top: 2%;
  position: relative;
}
.main-container {
  width: 65%;
  margin-left: 1%;
}
/*.........BODY HEADER......*/
.body-header {
  height: 25%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.effect {
  width: 33%;
  transition: transform 0.25s ease-in-out;
}
.effect:hover {
  z-index: 1;
  transform: scale(1.2);
  cursor: pointer;
}
.first,
.second,
.third {
  width: 33%;
  padding: 3px;
}
.first img,
.second img,
.third img {
  height: 100%;
  width: 100%;
}
/*........LATEST RELEASE SECTION START.......*/
.latest-release-box {
  margin-top: 2%;
  width: 100%;
}
.heading1 {
  margin: 5px 0px 5px 0px;
  font-size: 1rem;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
}
.latest-release {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 100%;
}
.release_1 {
  display: flex;
  width: 50%;
  margin-bottom: 2%;
}

.release_1 .first-content {
  width: 25%;
}
.release_1 .first-content img {
  width: 100%;
}
.release_1 .second-content {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 8px;
  gap: 10%;
}
.second-content p {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: white;
}
.release_1 .third-content {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-end;
}
.release_1 .third-content .button .dots {
  width: 7px;
  height: 7px;
  background-color: rgb(194, 184, 184);
  clip-path: circle();
  margin-bottom: 5px;
}
.release_1 .third-content .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  border: none;
  background-color: transparent;
  opacity: 1;
}

.button:hover {
  cursor: pointer;
}
.third-content p {
  color: white;
  font-size: 10px;
  font-weight: 200;
}
/*..... POPULAR ARTIST SECTION START.....*/
.popular-artist {
  margin-top: 2%;
}
.popular-artist-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.one {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  transition: transform 0.25s ease-in-out;
  gap: 10px;
}
.one:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.img-play-icon {
  height: 80%;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-play-icon img {
  height: 100%;
  width: 100%;
  clip-path: circle();
  border-radius: 50%;
}
.img-play-icon i {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-play-icon i:hover {
  opacity: 1;
  color: lightgrey;
  font-size: 20px;
}
.next-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  text-decoration: none;
}
.one a {
  text-decoration: none;
}
.font-style-popular {
  font-size: 1rem;
  font-family: serif;
  font-weight: 400;
  color: white;
}
.play-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .....Generes Section........*/
.different-generes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: rgb(4, 30, 66);
  margin-top: 2%;
}
.mood-types {
  width: 14%;
  height: 16vh;
  position: relative;
  transition: transform 0.25s ease-in-out;
}
.mood-types:hover {
  z-index: 1;
  transform: scale(1.2);
  cursor: pointer;
}
.mood-types img {
  height: 100%;
  width: 100%;
  clip-path: circle();
}
.mood-types-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.gener-text {
  font-size: 30%;
  font-weight: 500;
  font-family: serif;
  color: floralwhite;
}

/* .......MOODS SECTION..........*/
.moods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.moods-1 {
  width: 33%;
  height: 30vh;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.moods-1:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 20px 50px rgba(240, 46, 170, 0.7);
  cursor: pointer;
}
.moods-1 img {
  height: 100%;
  width: 100%;
}
.moods_1_content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moods-text {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
}

/*............ LATEST ENGLISH SECTION.........*/
.latest-english {
  margin-top: 2%;
}
.content {
  display: flex;
}

.english-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.english-1 .music_pic {
  width: 100%;
}
.music_pic img {
  width: 100%;
  height: 90%;
  padding-right: 2px;
}
.english-1 p {
  font-size: 10px;
  margin-top: 1%;
}
/* ................LATEST HINDI................*/
.latest-hindi {
  margin-top: 2%;
}

/*..........ASIDE SECTION....*/
.controlling-aside {
  position: absolute;
  top: 0;
  left: 70%;
}
.aside-container {
  position: fixed;
  margin-right: 2%;
  overflow: auto;
  height: 75vh;
}
/*........Removing scollbar in aside section */
aside::-webkit-scrollbar {
  width: 0;
}
/*..........ASIDE HEADER*/

.aside-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  position: sticky;
  background-color: #0b1026;
  top: 0;
  z-index: 4;
}
.queue-name {
  left: 0;
}
.queue-icon a {
  text-decoration: none;
  color: white;
}
.queue-icon a:hover {
  color: rgb(115, 187, 115);
}
/*.........*ASIDE CONTENT....*/
.songs-list {
  margin-top: 2%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.single-song {
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  margin-bottom: 5%;
  position: relative;
}
.song-number {
  align-self: center;
  width: 10%;
}
.song-image {
  width: 20%;
}
.song-image img {
  width: 100%;
  height: 102%;
}
.song-singer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2%;
}
.music-name,
.singer-name {
  font-size: 12px;
  margin-top: 2px;
}
.singer-name {
  color: rgb(179, 174, 174);
  font-size: 10px;
}
/*..... Heart Icon......*/
.heart-icon {
  position: absolute;
  top: 20px;
  right: 4%;
}
/*...........FOOTER*................*/
footer {
  background-color: #383734;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  bottom: 0;
  background-color: #383734;
}
.music-name-logo {
  display: flex;
  gap: 3%;
  margin-top: 0.7%;
  margin-bottom: 0.5%;
  width: 25%;
  margin-left: 1%;
}
.music-image-f {
  width: 20%;
}
.music-image-f img {
  width: 100%;
  height: 100%;
}
.music-artist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3%;
  margin-right: 4%;
}
.music-artist-info p {
  font-size: 10px;
}
.image-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*...... AUDIO CONTROL.....*/
.audio-control {
  width: 40%;
}
.ac-part1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.random-icon-f {
  margin-right: 2%;
}
.audio-system {
  display: flex;
  width: 25%;
  justify-content: space-around;
  gap: 1%;
  margin-top: 2%;
}
.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 3% 1% 3%;
}
.slider input {
  width: 80%;
}
.volume-control {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  margin-right: 2%;
}
.volume-control input {
  width: 40%;
}
.expand {
  margin-right: 1%;
}
